/* new-item */
.create-item-form {
  border: 3px solid rgb(211, 174, 10);
  border-radius: 1em;
  width: 50%;
  margin: 0 auto 5%;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}

.new-item-border .input {
  margin-bottom: 1em;
}

.new-item-image,
.create-item-info {
  flex-basis: 45%;
  align-self: center;
}

.uploaded-image {
  width: 100%;
}

.header-background {
  padding-bottom: 0;
  margin-bottom: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  text-decoration: underline;
}

.header-background p {
  text-align: center;
  margin: 29px;
  border-radius: 0.3em;
}

.new-item-content textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}

.new-item-content label {
  margin-bottom: 0.3em;
}

.new-item-title input {
  width: 102%;
  background: white;
}

.new-item-image input {
  background: white;
  width: 100%;
}

.new-item-content textarea {
  background: white;
  height: 100px;
}

button+button {
  margin-left: 1rem;
}

.new-item-buttons {
  margin-top: 1em;
  text-align: center;
}

.create-new-item-btn {
  padding: 0.4em 1.5em;
  border: 1px solid #333333;
  border-radius: 0.3em;
  background: #bd9922;;
  color: white;
}

.create-new-item-btn:hover {
  cursor: pointer;
  background: black;
}

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}