/* welcome component */
.welcome {
  padding: 0.3em 0.5em;
  /* border: 1px solid #999;
  border-radius: 0.3em; */
}

.welcome h3 {
  font-size: 1.4em;
  background-color:  rgb(211, 174, 10);
  border-radius: 0.3em;
  /* width: 100%; */
  padding: 0.3em 1em;
  margin: 0;
  text-align: center;
}

.welcome p {
  padding: 1em;
  margin-top: 0;
  border-bottom: 1px solid #999;
  font-style: normal;
  font-size: x-large;
  font-weight: 600;
  font-family: fangsong;
  text-align: center;
}

.welcome a {
  color: white;
  text-decoration: none;
  background-color: rgb(211, 174, 10);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 5.2em;
  margin: 1em;
}

.welcome a:hover {
  cursor: pointer;
}

.welcome ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1em;
}

.welcome li {
  list-style: none;
}

.newest-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newest-items .title {
  color:rgb(211, 174, 10);
  font-size: 26px;
}

.newest-items-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 75%;
}